aiocoap==0.3
aiohttp==3.1.1
async-timeout==2.0.1
attrs==17.4.0
chardet==3.0.4
Django==2.0.5
django-haystack==2.8.1
django-taggit==0.22.2
idna==2.6
idna-ssl==1.0.1
jieba==0.39
Markdown==2.6.11
multidict==4.1.0
pytz==2018.3
Werkzeug==0.14.1
Whoosh==2.7.4
yarl==1.1.1
